# Compiled class file
*.class

# Log file
*.log

*/.idea/**/tasks.xml
*/.idea/**/usage.statistics.xml
*/.idea/**/dictionaries
*/.idea/**/shelf

*/.idea/**/aws.xml

*/.idea/**/contentModel.xml

*/.idea/**/dataSources/
*/.idea/**/dataSources.ids
*/.idea/**/dataSources.local.xml
*/.idea/**/sqlDataSources.xml
*/.idea/**/dynamic.xml
*/.idea/**/uiDesigner.xml
*/.idea/**/dbnavigator.xml

*/.idea/**/gradle.xml
*/.idea/**/libraries

*/cmake-build-*/

*/.idea/**/mongoSettings.xml

*.iws

*/out/

*/target/

/target/

*/.idea_modules

*/.idea/replstate.xml

GoldCode.txt
